{
  "openapi": "3.1.0",
  "info": {
    "title": "ListBee",
    "summary": "Commerce API for AI agents and automation.",
    "description": "Commerce infrastructure for AI agents and automation. Create a listing, collect payment, deliver digital content \u2014 or fire a webhook for custom fulfillment.\n\n## New Account (programmatic)\n```\nPOST /v1/bootstrap         {email}           \u2192 OTP sent to inbox\nPOST /v1/bootstrap/verify  {session, code}   \u2192 session verified\nPOST /v1/bootstrap/complete {session}         \u2192 {account_id, api_key}\n```\nStore the `api_key` immediately \u2014 it is shown once.\n\n## Existing Account\n`Authorization: Bearer lb_...` on all requests.\n\n## Golden Path\n1. `POST /v1/account/stripe/connect` \u2192 human completes Stripe KYC at returned URL\n2. `POST /v1/listings` \u2192 create with name + price\n3. `PUT /v1/listings/{id}/deliverables` \u2192 attach digital content (or skip for webhook fulfillment)\n4. `POST /v1/listings/{id}/publish` \u2192 returns product page URL\n\n## Readiness\nEvery resource includes `readiness` with `actions` \u2014 check `readiness.next` for what to do. `kind: api` = fixable programmatically. `kind: human` = hand off to the user.\n\nConsole (optional): [console.listbee.so](https://console.listbee.so)",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.listbee.so",
      "description": "Production API"
    }
  ],
  "paths": {
    "/v1/account": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get account",
        "description": "Account status and readiness. Check readiness.operational \u2014 if false, readiness.actions lists what's needed. readiness.next is the highest-priority action.",
        "operationId": "get_account",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Update account",
        "description": "Update account settings: ga_measurement_id (Google Analytics tracking on checkout pages), notify_orders (email notifications for new orders), and events_callback_url (optional account-level webhook). Returns the updated account with readiness \u2014 check readiness.operational to verify the account can accept payments.",
        "operationId": "update_account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Delete account",
        "description": "Permanently delete the authenticated account. PII is anonymized, API keys revoked, webhooks disabled. Order history is retained for accounting. This action is irreversible.",
        "operationId": "delete_account",
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "401": {
            "description": "Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/api-keys/self-revoke": {
      "post": {
        "tags": [
          "API Keys"
        ],
        "summary": "Self-revoke the calling API key",
        "description": "Revoke the API key in the Authorization header. Use this when an agent detects a credential compromise and must destroy its own authorization without waiting on a human. No rate limit \u2014 agents must be able to call this freely under attack. Does not touch any other key on the account.",
        "operationId": "api_key_self_revoke",
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or already-revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List events",
        "description": "List events delivered to this account. Useful for reconciling missed webhook deliveries or auditing order history. Cursor-paginated, newest first. Events are persisted for every order.paid, order.fulfilled, order.refunded, and order.disputed delivery \u2014 the payload matches what was sent to agent_callback_url.",
        "operationId": "list_events",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter to a single event type (e.g. order.paid).",
              "examples": [
                "order.paid"
              ],
              "title": "Type"
            },
            "description": "Filter to a single event type (e.g. order.paid)."
          },
          {
            "name": "listing_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter to events tied to a specific listing.",
              "examples": [
                "lst_7kQ2xY9mN3pR5tW1vB8a"
              ],
              "title": "Listing Id"
            },
            "description": "Filter to events tied to a specific listing."
          },
          {
            "name": "order_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter to events tied to a specific order.",
              "examples": [
                "ord_9xM4kP7nR2qT5wY1"
              ],
              "title": "Order Id"
            },
            "description": "Filter to events tied to a specific order."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Opaque pagination cursor from a previous response.",
              "title": "Cursor"
            },
            "description": "Opaque pagination cursor from a previous response."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Page size, default 50.",
              "examples": [
                50
              ],
              "default": 50,
              "title": "Limit"
            },
            "description": "Page size, default 50."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listings": {
      "post": {
        "tags": [
          "Listings"
        ],
        "summary": "Create listing",
        "description": "Create a live, buyable listing in one call. Returns the listing and a one-time `signing_secret` (shown once \u2014 store it). The agent supplies `deliverable` for instant delivery, or leaves it null for async fulfillment via POST /v1/orders/{order_id}/fulfill.\n\nThe listing is created with `status: published` automatically. If the account's Stripe Connect is not active, `readiness.buyable` is false and `readiness.actions` surfaces the `stripe_connect_required` action. The checkout URL works, but buyers see the readiness blocker until Stripe onboarding finishes.\n\nUnknown or killed fields return 422 (strict schema). Metadata supports up to 50 keys, 40-char keys, 10,000-char values, 50 KB total.",
        "operationId": "create_listing",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateListingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Listing created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingCreateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation error. `errors` array lists each offending field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Retry after the `Retry-After` header value.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Listings"
        ],
        "summary": "List listings",
        "description": "List all listings for the authenticated account. Returns lightweight summaries \u2014 call GET /v1/listings/{listing_id} for full detail (readiness, stats, deliverable, checkout schema). Cursor-paginated: pass `cursor` from the previous response to fetch the next page. Filter by `status` to find only published, draft, or archived listings.",
        "operationId": "list_listings",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/ListingStatus"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by listing status (`published`, `draft`, or `archived`). Omit to return all.",
              "examples": [
                "published"
              ],
              "title": "Status"
            },
            "description": "Filter by listing status (`published`, `draft`, or `archived`). Omit to return all."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Opaque pagination cursor from a previous response's `cursor` field. Omit for the first page.",
              "examples": [
                "lst_7kQ2xY9mN3pR5tW1vB8a"
              ],
              "title": "Cursor"
            },
            "description": "Opaque pagination cursor from a previous response's `cursor` field. Omit for the first page."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Number of listings to return per page. Default 20, max 100.",
              "examples": [
                20
              ],
              "default": 20,
              "title": "Limit"
            },
            "description": "Number of listings to return per page. Default 20, max 100."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listings/{listing_id}": {
      "get": {
        "tags": [
          "Listings"
        ],
        "summary": "Get listing",
        "description": "Fetch a single listing by ID. Returns full detail: all display fields, deliverable, checkout schema, readiness signal, and aggregate stats (views, purchases, gmv_minor). Check `readiness.buyable` \u2014 if false, `readiness.next` names the highest-priority action code and `readiness.actions` provides machine-readable resolve instructions.",
        "operationId": "get_listing",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "listing_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Listing ID (lst_ prefixed). Returned as `id` on listing objects.",
              "examples": [
                "lst_7kQ2xY9mN3pR5tW1vB8a"
              ],
              "title": "Listing Id"
            },
            "description": "Listing ID (lst_ prefixed). Returned as `id` on listing objects."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Listing not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Listings"
        ],
        "summary": "Update listing",
        "description": "Partial update \u2014 only fields present in the request body are changed. Omitted fields are left as-is. Pass null explicitly to clear a nullable field. Unknown fields return 422 (strict schema). Updates to published listings take effect immediately. To rotate the signing secret, include `signing_secret` in the body (pass null to auto-generate, or a string to set a specific value) \u2014 the response object switches to `listing_with_secret` and the new secret is returned once.",
        "operationId": "update_listing",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "listing_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Listing ID (lst_ prefixed). Returned as `id` on listing objects.",
              "examples": [
                "lst_7kQ2xY9mN3pR5tW1vB8a"
              ],
              "title": "Listing Id"
            },
            "description": "Listing ID (lst_ prefixed). Returned as `id` on listing objects."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateListingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Listing updated.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ListingDetailResponse"
                    },
                    {
                      "$ref": "#/components/schemas/RotateSigningSecretResponse"
                    }
                  ],
                  "title": "Response Update Listing",
                  "$ref": "#/components/schemas/ListingDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Listing not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation error. `errors` array lists each offending field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Listings"
        ],
        "summary": "Delete listing",
        "description": "Delete a listing by ID and its stored content. Irreversible. Published listings with existing orders can still be deleted \u2014 order history is preserved but the checkout URL stops working.",
        "operationId": "delete_listing",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "listing_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Listing ID (lst_ prefixed).",
              "examples": [
                "lst_abc123"
              ],
              "title": "Listing Id"
            },
            "description": "Listing ID (lst_ prefixed)."
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "401": {
            "description": "Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Listing not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listings/{listing_id}/unpublish": {
      "post": {
        "tags": [
          "Listings"
        ],
        "summary": "Unpublish a listing",
        "description": "Transition a PUBLISHED listing back to DRAFT. Buyers can no longer reach the product page. Idempotent \u2014 calling on a DRAFT listing is a no-op. Returns 409 if the listing is ARCHIVED (terminal state).",
        "operationId": "unpublish_listing",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "listing_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Listing ID (lst_ prefixed).",
              "examples": [
                "lst_abc123"
              ],
              "title": "Listing Id"
            },
            "description": "Listing ID (lst_ prefixed)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Listing not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Listing is archived and cannot be unpublished.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listings/{listing_id}/archive": {
      "post": {
        "tags": [
          "Listings"
        ],
        "summary": "Archive a listing (terminal)",
        "description": "Move a listing to ARCHIVED terminal state. The listing can no longer be published or sold. Idempotent \u2014 calling on an already-archived listing is a no-op. Applies to both DRAFT and PUBLISHED listings.",
        "operationId": "archive_listing",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "listing_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Listing ID (lst_ prefixed).",
              "examples": [
                "lst_abc123"
              ],
              "title": "Listing Id"
            },
            "description": "Listing ID (lst_ prefixed)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Listing not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/listings/{listing_id}/publish": {
      "post": {
        "tags": [
          "Listings"
        ],
        "summary": "Publish listing",
        "description": "Validate and publish a draft listing. Transitions to published state \u2014 the listing becomes live, buyable, and immutable. Fails with 409 and readiness actions if requirements are not met.",
        "operationId": "publish_listing",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "listing_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Listing ID (lst_ prefixed).",
              "examples": [
                "lst_abc123"
              ],
              "title": "Listing Id"
            },
            "description": "Listing ID (lst_ prefixed)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Listing not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Publish requirements not met.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List orders",
        "description": "List orders for the authenticated account. Filter by status, listing, and date range. Paginated. Returns lightweight summaries \u2014 use GET /v1/orders/{order_id} for full detail including deliverables, readiness, checkout_data, and Stripe payment intent. Order lifecycle: PENDING \u2192 PAID \u2192 FULFILLED. Terminal: CANCELED, FAILED.",
        "operationId": "list_orders",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/OrderStatus"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter orders by status.",
              "examples": [
                "paid"
              ],
              "title": "Status"
            },
            "description": "Filter orders by status."
          },
          {
            "name": "listing",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by listing ID (lst_ prefixed).",
              "examples": [
                "lst_abc123"
              ],
              "title": "Listing"
            },
            "description": "Filter by listing ID (lst_ prefixed)."
          },
          {
            "name": "buyer_email",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by exact buyer email address.",
              "examples": [
                "alice@example.com"
              ],
              "title": "Buyer Email"
            },
            "description": "Filter by exact buyer email address."
          },
          {
            "name": "created_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only orders created after this ISO 8601 datetime.",
              "examples": [
                "2026-03-01T00:00:00Z"
              ],
              "title": "Created After"
            },
            "description": "Only orders created after this ISO 8601 datetime."
          },
          {
            "name": "created_before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only orders created before this ISO 8601 datetime.",
              "examples": [
                "2026-03-31T23:59:59Z"
              ],
              "title": "Created Before"
            },
            "description": "Only orders created before this ISO 8601 datetime."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Pagination cursor from a previous response.",
              "title": "Cursor"
            },
            "description": "Pagination cursor from a previous response."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Maximum number of orders to return.",
              "examples": [
                20
              ],
              "default": 20,
              "title": "Limit"
            },
            "description": "Maximum number of orders to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders/{order_id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Get order",
        "description": "Get a single order by ID. Order lifecycle: PENDING \u2192 PAID \u2192 FULFILLED. Check has_deliverables to determine fulfillment mode: if true, content was auto-delivered on payment (order is already FULFILLED). If false, the order stays PAID \u2014 call POST /v1/orders/{order_id}/fulfill to deliver content via ListBee, or handle delivery externally via the order.paid webhook. Use readiness.next to determine the recommended next action.",
        "operationId": "get_order",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Order ID (ord_ prefixed).",
              "examples": [
                "ord_9xM4kP7nR2qT5wY1"
              ],
              "title": "Order Id"
            },
            "description": "Order ID (ord_ prefixed)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Order not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders/{order_id}/refund": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Refund order",
        "description": "Issue a full refund for an order. The refund is processed through Stripe on the seller's connected account. Only orders with status `paid` or `fulfilled` can be refunded. If the order is already refunded, returns the order as-is (idempotent). The order transitions to REFUNDED \u2014 refund_amount and refunded_at update asynchronously via Stripe webhook. An order.refunded webhook event fires when the refund completes.",
        "operationId": "refund_order",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Order ID (ord_ prefixed).",
              "examples": [
                "ord_9xM4kP7nR2qT5wY1"
              ],
              "title": "Order Id"
            },
            "description": "Order ID (ord_ prefixed)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Order not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Order cannot be refunded (wrong status or no payment intent).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders/{order_id}/redeliver": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Redeliver Order",
        "description": "Requeue order.paid (and order.fulfilled if applicable) to the listing's agent_callback_url. Uses attempt=1 with no initial delay. Idempotent via Idempotency-Key header. Rate limited: 10/hour/order, 100/hour/api-key. Returns scheduled_attempts=0 if the listing has no agent_callback_url.",
        "operationId": "redeliver_order",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Order ID (ord_ prefixed).",
              "examples": [
                "ord_9xM4kP7nR2qT5wY1"
              ],
              "title": "Order Id"
            },
            "description": "Order ID (ord_ prefixed)."
          }
        ],
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedeliveryAck"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Order not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "429": {
            "description": "Redelivery rate limit exceeded."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders/{order_id}/fulfill": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Fulfill order",
        "description": "Deliver content to the buyer via ListBee. Call this with deliverables after your system generates or prepares content. ListBee creates an access grant, emails the buyer a download link, and transitions the order to FULFILLED. Valid for any order in PAID status. Idempotent: calling on an already-FULFILLED order returns the order unchanged (body ignored, no second email).",
        "operationId": "fulfill_order",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Order ID (ord_ prefixed).",
              "examples": [
                "ord_9xM4kP7nR2qT5wY1"
              ],
              "title": "Order Id"
            },
            "description": "Order ID (ord_ prefixed)."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FulfillOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key."
          },
          "404": {
            "description": "Order not found."
          },
          "409": {
            "description": "Order is not in PAID status."
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ping": {
      "get": {
        "tags": [
          "Utility"
        ],
        "summary": "Ping",
        "description": "Connectivity check. Returns ok if the API is reachable. No authentication required.",
        "operationId": "ping",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/account/stripe/connect": {
      "post": {
        "tags": [
          "Stripe"
        ],
        "summary": "Start Stripe Connect onboarding",
        "description": "Start Stripe Connect guided onboarding. Returns a URL to redirect the human to. The human completes Stripe's identity and bank account verification flow. On completion, Stripe fires an account.updated webhook and ListBee marks the account as connected. The stripe_account_id is saved immediately \u2014 payment_config is set only after webhook confirmation.",
        "operationId": "start_stripe_connect",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeConnectSessionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/account/stripe": {
      "delete": {
        "tags": [
          "Stripe"
        ],
        "summary": "Disconnect Stripe",
        "description": "Remove Stripe configuration from the account. All published listings become unsellable \u2014 checkout URLs return an error until Stripe is reconnected. Call POST /v1/account/stripe/connect to start a new Connect session.",
        "operationId": "disconnect_stripe",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Disconnect Stripe"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/bootstrap/start": {
      "post": {
        "tags": [
          "Bootstrap"
        ],
        "summary": "Start bootstrap \u2014 send OTP",
        "description": "Step 1 of 2. Send a one-time passcode to the provided email. Returns a bootstrap_token (single-use, 10-min TTL) and a stable account_id for polling. The account is created immediately \u2014 account_id is stable across retries and polling. Re-calling with the same email reuses the existing account; only the token is rotated. Public endpoint \u2014 no API key required.",
        "operationId": "bootstrap_start",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BootstrapStartRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BootstrapStartResponse"
                }
              }
            }
          },
          "422": {
            "description": "Blocked or disposable email domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "429": {
            "description": "OTP rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bootstrap/verify": {
      "post": {
        "tags": [
          "Bootstrap"
        ],
        "summary": "Verify OTP \u2014 get API key",
        "description": "Step 2 of 2. Verify the OTP sent in step 1. The bootstrap_token is consumed atomically \u2014 cannot be replayed. On success, issues the account's first API key and initiates Stripe Connect onboarding. Returns api_key (store immediately \u2014 shown once), stripe_onboarding_url (hand to human), and readiness (agent guidance on next steps). Poll GET /v1/bootstrap/{account_id} until readiness.operational is true. Public endpoint \u2014 no API key required.",
        "operationId": "bootstrap_verify",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BootstrapVerifyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BootstrapVerifyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid/expired bootstrap token or invalid OTP code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "429": {
            "description": "Verification attempt rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bootstrap/{account_id}": {
      "get": {
        "tags": [
          "Bootstrap"
        ],
        "summary": "Poll bootstrap status",
        "description": "Poll the account's readiness after bootstrap. Call repeatedly (e.g. every 5s) after handing stripe_onboarding_url to the human. ready becomes true once Stripe Connect onboarding completes and charges are enabled. When ready is true, the account can accept payments. readiness.actions lists remaining steps and readiness.next points to the highest-priority one. Public endpoint \u2014 no API key required.",
        "operationId": "bootstrap_poll",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Account Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BootstrapPollResponse"
                }
              }
            }
          },
          "404": {
            "description": "Unknown account_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/plans": {
      "get": {
        "tags": [
          "Plans"
        ],
        "summary": "List plans",
        "description": "List all available plans with pricing. Public endpoint \u2014 no authentication required. Response is cacheable.",
        "operationId": "list_plans",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanListResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AccountReadiness": {
        "properties": {
          "operational": {
            "type": "boolean",
            "title": "Operational",
            "description": "True when the account can sell. False means actions are needed.",
            "examples": [
              true
            ]
          },
          "actions": {
            "items": {
              "$ref": "#/components/schemas/Action"
            },
            "type": "array",
            "title": "Actions",
            "description": "What's needed to make this account operational. Empty when operational is true."
          },
          "next": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Next",
            "description": "Code of the highest-priority action.",
            "examples": [
              "stripe_connect_required"
            ]
          }
        },
        "type": "object",
        "required": [
          "operational"
        ],
        "title": "AccountReadiness"
      },
      "AccountResponse": {
        "properties": {
          "object": {
            "type": "string",
            "const": "account",
            "title": "Object",
            "description": "Object type identifier. Always `account`.",
            "default": "account",
            "examples": [
              "account"
            ]
          },
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Unique account ID (acc_ prefixed).",
            "examples": [
              "acc_7kQ2xY9mN3pR5tW1"
            ]
          },
          "email": {
            "type": "string",
            "title": "Email",
            "description": "Account email address",
            "examples": [
              "seller@example.com"
            ]
          },
          "plan": {
            "type": "string",
            "title": "Plan",
            "description": "Current plan tier. Values: free (10% fee), pro (0% fee).",
            "examples": [
              "free",
              "pro"
            ]
          },
          "fee_rate": {
            "type": "string",
            "title": "Fee Rate",
            "description": "Transaction fee rate as decimal string. Determined by plan: free=0.10, pro=0.00. Applied as platform fee on each order.",
            "examples": [
              "0.10",
              "0.00"
            ]
          },
          "billing_status": {
            "type": "string",
            "title": "Billing Status",
            "description": "Subscription billing status. `active` = payments current. `past_due` = payment failed, service continues during grace period. `unpaid` = grace period expired, listings may be blocked.",
            "examples": [
              "active",
              "past_due"
            ]
          },
          "currency": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Currency",
            "description": "Account currency (ISO 4217, lowercase). Set automatically from Stripe Connect. Cannot be changed after connection.",
            "examples": [
              "usd",
              "eur"
            ]
          },
          "ga_measurement_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ga Measurement Id",
            "description": "Google Analytics 4 Measurement ID (G-XXXXXXXXXX). Set via PUT /v1/account. Injected on all your product pages and thank-you pages",
            "examples": [
              "G-ABC123XYZ"
            ]
          },
          "notify_orders": {
            "type": "boolean",
            "title": "Notify Orders",
            "description": "Whether seller receives email alerts for new external orders",
            "examples": [
              true
            ]
          },
          "events_callback_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Events Callback Url",
            "description": "Optional account-level webhook URL for future non-order events",
            "examples": [
              "https://agent.example.com/events"
            ]
          },
          "readiness": {
            "$ref": "#/components/schemas/AccountReadiness",
            "description": "Account operational readiness. `operational` is true when the account can sell. If false, `actions` lists what's needed with kind (api/human), resolve details, and `next` points to the highest-priority action."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "Time at which the account was created",
            "examples": [
              "2026-03-15T10:00:00Z"
            ]
          }
        },
        "type": "object",
        "required": [
          "id",
          "email",
          "plan",
          "fee_rate",
          "billing_status",
          "notify_orders",
          "readiness",
          "created_at"
        ],
        "title": "AccountResponse"
      },
      "Action": {
        "properties": {
          "code": {
            "$ref": "#/components/schemas/ActionCode",
            "description": "Machine-readable action identifier for automation branching.",
            "examples": [
              "stripe_connect_required"
            ]
          },
          "kind": {
            "$ref": "#/components/schemas/ActionKind",
            "description": "Whether an agent can execute this directly (api) or needs human interaction (human).",
            "examples": [
              "api"
            ]
          },
          "priority": {
            "$ref": "#/components/schemas/ActionPriority",
            "description": "Whether this action blocks progress (required) or is an available opportunity (suggested).",
            "examples": [
              "required"
            ]
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Human-readable explanation. AI agents relay this to users.",
            "examples": [
              "Set Stripe secret key to accept payments"
            ]
          },
          "resolve": {
            "$ref": "#/components/schemas/ActionResolve",
            "description": "How to resolve this action."
          }
        },
        "type": "object",
        "required": [
          "code",
          "kind",
          "priority",
          "message",
          "resolve"
        ],
        "title": "Action"
      },
      "ActionCode": {
        "type": "string",
        "enum": [
          "otp_verification_pending",
          "stripe_connect_required",
          "stripe_charges_disabled",
          "account_deleted",
          "listing_unpublished",
          "fulfillment_pending",
          "dispute_open"
        ],
        "title": "ActionCode"
      },
      "ActionKind": {
        "type": "string",
        "enum": [
          "api",
          "human"
        ],
        "title": "ActionKind"
      },
      "ActionPriority": {
        "type": "string",
        "enum": [
          "required",
          "suggested"
        ],
        "title": "ActionPriority"
      },
      "ActionResolve": {
        "properties": {
          "method": {
            "type": "string",
            "title": "Method",
            "description": "How to resolve: HTTP method (POST, GET) for kind=api, 'redirect' for kind=human.",
            "examples": [
              "POST"
            ]
          },
          "endpoint": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Endpoint",
            "description": "API endpoint path for kind=api actions.",
            "examples": [
              "/v1/account/stripe-key"
            ]
          },
          "url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Url",
            "description": "Full URL for kind=human actions (browser redirect).",
            "examples": [
              "https://console.listbee.so/connect/stripe"
            ]
          },
          "params": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Params",
            "description": "Example request body for kind=api actions.",
            "examples": [
              {
                "secret_key": "sk_live_..."
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "method"
        ],
        "title": "ActionResolve"
      },
      "ApiKeyResponse": {
        "properties": {
          "object": {
            "type": "string",
            "const": "api_key",
            "title": "Object",
            "description": "Object type identifier. Always `api_key`.",
            "default": "api_key",
            "examples": [
              "api_key"
            ]
          },
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Unique API key ID (lbk_ prefixed).",
            "examples": [
              "lbk_7kQ2xY9mN3pR5tW1vB8a"
            ]
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Human-friendly label for this key.",
            "examples": [
              "prod-agent"
            ]
          },
          "prefix": {
            "type": "string",
            "title": "Prefix",
            "description": "First 8 chars of the raw key (e.g. 'lb_abcd12') \u2014 safe to display.",
            "examples": [
              "lb_abcd12"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "Time at which the key was created.",
            "examples": [
              "2026-04-01T12:00:00Z"
            ]
          },
          "last_used_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Used At",
            "description": "Last time this key was used to authenticate a request.",
            "examples": [
              "2026-04-10T09:00:00Z"
            ]
          },
          "revoked_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Revoked At",
            "description": "When the key was revoked. Null if still active.",
            "examples": [
              null
            ]
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "prefix",
          "created_at"
        ],
        "title": "ApiKeyResponse"
      },
      "BootstrapPollResponse": {
        "properties": {
          "object": {
            "type": "string",
            "const": "bootstrap_status",
            "title": "Object",
            "description": "Object type identifier.",
            "default": "bootstrap_status",
            "examples": [
              "bootstrap_status"
            ]
          },
          "ready": {
            "type": "boolean",
            "title": "Ready",
            "description": "True when the account is fully operational and can accept payments.",
            "examples": [
              false
            ]
          },
          "account_id": {
            "type": "string",
            "title": "Account Id",
            "description": "Account ID.",
            "examples": [
              "acc_01J3K4M5N6P7Q8R9S0T1U2V3W4"
            ]
          },
          "readiness": {
            "$ref": "#/components/schemas/AccountReadiness",
            "description": "Account readiness. When ready is true, actions is empty."
          },
          "stripe_onboarding_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Stripe Onboarding Url",
            "description": "Stripe Connect onboarding URL. Non-null until Stripe Connect is complete.",
            "examples": [
              "https://connect.stripe.com/setup/s/..."
            ]
          }
        },
        "type": "object",
        "required": [
          "ready",
          "account_id",
          "readiness",
          "stripe_onboarding_url"
        ],
        "title": "BootstrapPollResponse"
      },
      "BootstrapStartRequest": {
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "title": "Email",
            "description": "Seller email. OTP is sent to this address.",
            "examples": [
              "seller@example.com"
            ]
          }
        },
        "type": "object",
        "required": [
          "email"
        ],
        "title": "BootstrapStartRequest"
      },
      "BootstrapStartResponse": {
        "properties": {
          "object": {
            "type": "string",
            "const": "bootstrap_session",
            "title": "Object",
            "description": "Object type identifier.",
            "default": "bootstrap_session",
            "examples": [
              "bootstrap_session"
            ]
          },
          "bootstrap_token": {
            "type": "string",
            "title": "Bootstrap Token",
            "description": "Single-use token, pass back in /verify. TTL 10 min.",
            "examples": [
              "bst_abc123"
            ]
          },
          "account_id": {
            "type": "string",
            "title": "Account Id",
            "description": "Stable account ID \u2014 use for /bootstrap/{account_id} polling.",
            "examples": [
              "acc_01J3K4M5N6P7Q8R9S0T1U2V3W4"
            ]
          },
          "otp_expires_at": {
            "type": "string",
            "format": "date-time",
            "title": "Otp Expires At",
            "description": "When the OTP code expires.",
            "examples": [
              "2026-04-17T12:10:00Z"
            ]
          }
        },
        "type": "object",
        "required": [
          "bootstrap_token",
          "account_id",
          "otp_expires_at"
        ],
        "title": "BootstrapStartResponse"
      },
      "BootstrapVerifyRequest": {
        "properties": {
          "bootstrap_token": {
            "type": "string",
            "title": "Bootstrap Token",
            "description": "Token from /start.",
            "examples": [
              "bst_abc123"
            ]
          },
          "otp_code": {
            "type": "string",
            "maxLength": 10,
            "minLength": 4,
            "title": "Otp Code",
            "description": "6-digit OTP pasted from email.",
            "examples": [
              "123456"
            ]
          }
        },
        "type": "object",
        "required": [
          "bootstrap_token",
          "otp_code"
        ],
        "title": "BootstrapVerifyRequest"
      },
      "BootstrapVerifyResponse": {
        "properties": {
          "object": {
            "type": "string",
            "const": "bootstrap_result",
            "title": "Object",
            "description": "Object type identifier.",
            "default": "bootstrap_result",
            "examples": [
              "bootstrap_result"
            ]
          },
          "account_id": {
            "type": "string",
            "title": "Account Id",
            "description": "Account ID. Use as the owner identity for all API calls.",
            "examples": [
              "acc_01J3K4M5N6P7Q8R9S0T1U2V3W4"
            ]
          },
          "api_key": {
            "type": "string",
            "title": "Api Key",
            "description": "One-time API key \u2014 store it immediately, it will NOT be shown again. Use as `Authorization: Bearer lb_...` on all subsequent API calls.",
            "examples": [
              "lb_01J3K4M5N6P7Q8R9S0T1U2V3W4X5Y6Z7"
            ]
          },
          "stripe_onboarding_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Stripe Onboarding Url",
            "description": "Hand this URL to the human to complete Stripe Connect onboarding. Null if Stripe is already connected.",
            "examples": [
              "https://connect.stripe.com/setup/s/..."
            ]
          },
          "readiness": {
            "$ref": "#/components/schemas/AccountReadiness",
            "description": "Account readiness after bootstrap. Check operational; if false, actions lists what's needed."
          }
        },
        "type": "object",
        "required": [
          "account_id",
          "api_key",
          "stripe_onboarding_url",
          "readiness"
        ],
        "title": "BootstrapVerifyResponse"
      },
      "CheckoutFieldInput": {
        "properties": {
          "key": {
            "type": "string",
            "maxLength": 50,
            "title": "Key",
            "description": "Unique key for this field",
            "examples": [
              "size",
              "note"
            ]
          },
          "type": {
            "$ref": "#/components/schemas/CheckoutFieldType",
            "description": "Field type",
            "examples": [
              "text"
            ]
          },
          "label": {
            "type": "string",
            "maxLength": 100,
            "title": "Label",
            "description": "Label shown to buyer",
            "examples": [
              "Shoe size"
            ]
          },
          "required": {
            "type": "boolean",
            "title": "Required",
            "description": "Whether this field is required",
            "default": true,
            "examples": [
              true
            ]
          },
          "options": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array",
                "maxItems": 50
              },
              {
                "type": "null"
              }
            ],
            "title": "Options",
            "description": "Options for select fields",
            "examples": [
              [
                "S",
                "M",
                "L"
              ]
            ]
          },
          "sort_order": {
            "type": "integer",
            "minimum": 0.0,
            "title": "Sort Order",
            "description": "Display order. Lower values shown first. Fields with equal sort_order are ordered by position in the array.",
            "default": 0,
            "examples": [
              0,
              1,
              2
            ]
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "key",
          "type",
          "label"
        ],
        "title": "CheckoutFieldInput",
        "description": "A field to collect from the buyer at checkout."
      },
      "CheckoutFieldType": {
        "type": "string",
        "enum": [
          "text",
          "select",
          "date"
        ],
        "title": "CheckoutFieldType",
        "description": "Types of fields that can be collected at checkout."
      },
      "CreateListingRequest": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100,
            "title": "Name",
            "description": "Product name shown on the product page.",
            "examples": [
              "SEO Playbook 2026",
              "Premium Stock Picks"
            ]
          },
          "price": {
            "type": "integer",
            "minimum": 50.0,
            "title": "Price",
            "description": "Price in cents (smallest currency unit). Minimum 50 (= $0.50). Examples: $5 = 500, $29 = 2900, $99.99 = 9999.",
            "examples": [
              500,
              2900,
              9999
            ]
          },
          "currency": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 3,
                "minLength": 3
              },
              {
                "type": "null"
              }
            ],
            "title": "Currency",
            "description": "Three-letter ISO 4217 currency code (lowercase). Defaults to account currency if omitted.",
            "examples": [
              "usd",
              "eur",
              "gbp"
            ]
          },
          "deliverable": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/DeliverableRequest"
              },
              {
                "type": "null"
              }
            ],
            "description": "Content to deliver automatically on payment. Omit for agent-fulfilled (ASYNC) listings."
          },
          "agent_callback_url": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2048
              },
              {
                "type": "null"
              }
            ],
            "title": "Agent Callback Url",
            "description": "Per-listing webhook URL. Receives order.paid, order.fulfilled, order.refunded, order.disputed events signed with the listing's signing_secret (HMAC-SHA256). Must use https:// (or http://localhost for local dev). Leave null to rely on polling /v1/orders or /v1/events instead.",
            "examples": [
              "https://my-agent.example.com/fulfill"
            ]
          },
          "signing_secret": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 256,
                "minLength": 16
              },
              {
                "type": "null"
              }
            ],
            "title": "Signing Secret",
            "description": "Custom signing secret for this listing. Used to verify webhook payloads via HMAC-SHA256. If omitted, a secure secret is auto-generated. Min 16 chars, max 256 chars. Shown once in the create response \u2014 not exposed on subsequent reads. Store it immediately. Rotate via PATCH with signing_secret=null (regenerate) or a new value.",
            "examples": [
              "my-long-signing-secret-value"
            ]
          },
          "checkout_schema": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/CheckoutFieldInput"
                },
                "type": "array",
                "maxItems": 5
              },
              {
                "type": "null"
              }
            ],
            "title": "Checkout Schema",
            "description": "Custom fields to collect from the buyer at checkout (e.g. size, color, shipping address). Max 5 fields. Email is always collected.",
            "examples": [
              [
                {
                  "key": "size",
                  "label": "Size",
                  "options": [
                    "S",
                    "M",
                    "L"
                  ],
                  "type": "select"
                }
              ]
            ]
          },
          "image_url": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2048
              },
              {
                "type": "null"
              }
            ],
            "title": "Image Url",
            "description": "Cover image URL. Must use https://. Shown prominently on the product page. Recommended: 1200x630px.",
            "examples": [
              "https://cdn.example.com/covers/abc123.jpg"
            ]
          },
          "tagline": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 140
              },
              {
                "type": "null"
              }
            ],
            "title": "Tagline",
            "description": "Short tagline shown below the product name on the product page. Max 140 chars.",
            "examples": [
              "Updated for 2026 algorithm changes"
            ]
          },
          "description": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 5000
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "Product description shown on the product page. Improves buyer conversion. Plain text, max 5000 chars.",
            "examples": [
              "A comprehensive guide to modern SEO techniques."
            ]
          },
          "highlights": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array",
                "maxItems": 10
              },
              {
                "type": "null"
              }
            ],
            "title": "Highlights",
            "description": "Bullet-point features shown on the product page. Max 10 items. Each should be short (2-4 words).",
            "examples": [
              [
                "50+ pages",
                "Actionable tips",
                "Free updates"
              ]
            ]
          },
          "cta": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 60
              },
              {
                "type": "null"
              }
            ],
            "title": "Cta",
            "description": "Buy button text on the product page. Defaults to 'Buy Now' if omitted. Max 60 chars.",
            "examples": [
              "Get Instant Access",
              "Download Now"
            ]
          },
          "compare_at_price": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 1.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Compare At Price",
            "description": "Strikethrough price in cents (smallest currency unit). Must be greater than price. Examples: $39 = 3900.",
            "examples": [
              3900,
              4900
            ]
          },
          "badges": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array",
                "maxItems": 10
              },
              {
                "type": "null"
              }
            ],
            "title": "Badges",
            "description": "Short promotional badges shown on the product page (e.g. 'Best seller', 'Limited time'). Max 10 items.",
            "examples": [
              [
                "Limited time",
                "Best seller"
              ]
            ]
          },
          "rating": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Rating",
            "description": "Seller-provided aggregate star rating. Must be between 1.0 and 5.0 inclusive.",
            "examples": [
              4.8,
              4.5
            ]
          },
          "rating_count": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Rating Count",
            "description": "Seller-provided review or purchase count shown alongside the rating on the product page.",
            "examples": [
              1243,
              89
            ]
          },
          "reviews": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ReviewInput"
                },
                "type": "array",
                "maxItems": 10
              },
              {
                "type": "null"
              }
            ],
            "title": "Reviews",
            "description": "Featured review cards shown on the product page. Seller-provided, not buyer-submitted. Max 10.",
            "examples": [
              [
                {
                  "content": "Best decision I've made for my health.",
                  "name": "Clara D.",
                  "rating": 4.5
                }
              ]
            ]
          },
          "faqs": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/FaqItemInput"
                },
                "type": "array",
                "maxItems": 10
              },
              {
                "type": "null"
              }
            ],
            "title": "Faqs",
            "description": "FAQ accordion shown on the product page. Answers common buyer questions. Max 10 items.",
            "examples": [
              [
                {
                  "a": "Yes, completely beginner-friendly.",
                  "q": "Is this for beginners?"
                }
              ]
            ]
          },
          "metadata": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Metadata",
            "description": "Arbitrary key-value pairs forwarded in webhook event payloads. Use for your own tracking (campaign IDs, source tags). Limits: max 50 keys, keys \u2264 40 chars, values must be strings \u2264 10000 chars, total \u2264 50000 bytes.",
            "examples": [
              {
                "campaign": "launch-week",
                "source": "n8n"
              }
            ]
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "name",
          "price"
        ],
        "title": "CreateListingRequest",
        "description": "All optional display fields (name, description, tagline, highlights, cta, badges, image_url, reviews, faqs) appear on the product page buyers see."
      },
      "DeliverableInputRequest": {
        "properties": {
          "type": {
            "$ref": "#/components/schemas/DeliverableType",
            "description": "Deliverable type: `url` (redirect link) or `text` (literal string).",
            "examples": [
              "url"
            ]
          },
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content",
            "description": "URL (https required) or text content. Required when type is `url` or `text`.",
            "examples": [
              "https://example.com/secret-area"
            ]
          }
        },
        "type": "object",
        "required": [
          "type"
        ],
        "title": "DeliverableInputRequest",
        "description": "Typed deliverable input. Shared by PUT /deliverables and POST /fulfill."
      },
      "DeliverableRequest": {
        "properties": {
          "type": {
            "$ref": "#/components/schemas/DeliverableType",
            "description": "Deliverable type: `url` (redirect link) or `text` (literal string).",
            "examples": [
              "url"
            ]
          },
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content",
            "description": "For `url` type: must start with http:// or https://. For `text` type: plain text content, max 10000 chars.",
            "examples": [
              "https://example.com/secret-area"
            ]
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "type"
        ],
        "title": "DeliverableRequest",
        "description": "Strict deliverable input for POST /v1/listings. Uses extra=forbid."
      },
      "DeliverableResponse": {
        "properties": {
          "type": {
            "$ref": "#/components/schemas/DeliverableType",
            "description": "Deliverable type: `url` (redirect link) or `text` (inline string delivered to buyer).",
            "examples": [
              "url"
            ]
          },
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content",
            "description": "Deliverable content. Present on owner reads; null on public reads (buyers do not see it before purchase). For `url` type: a URL the buyer is redirected to. For `text` type: the literal string delivered.",
            "examples": [
              "https://example.com/secret-area"
            ]
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "type"
        ],
        "title": "DeliverableResponse"
      },
      "DeliverableType": {
        "type": "string",
        "enum": [
          "url",
          "text"
        ],
        "title": "DeliverableType"
      },
      "EventListResponse": {
        "properties": {
          "object": {
            "type": "string",
            "const": "list",
            "title": "Object",
            "description": "Object type identifier. Always `list`.",
            "default": "list",
            "examples": [
              "list"
            ]
          },
          "data": {
            "items": {
              "$ref": "#/components/schemas/EventResponse"
            },
            "type": "array",
            "title": "Data",
            "description": "Array of event objects, newest first."
          },
          "cursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cursor",
            "description": "Pass as `cursor` query param to fetch the next page.",
            "examples": [
              "evt_abc123xyz"
            ]
          },
          "has_more": {
            "type": "boolean",
            "title": "Has More",
            "description": "True if more results exist beyond this page.",
            "default": false,
            "examples": [
              false
            ]
          }
        },
        "type": "object",
        "required": [
          "data"
        ],
        "title": "EventListResponse"
      },
      "EventResponse": {
        "properties": {
          "object": {
            "type": "string",
            "const": "event",
            "title": "Object",
            "description": "Object type identifier. Always `event`.",
            "default": "event",
            "examples": [
              "event"
            ]
          },
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Event ID. evt_ prefix.",
            "examples": [
              "evt_abc123xyz"
            ]
          },
          "type": {
            "type": "string",
            "title": "Type",
            "description": "Event type (e.g. order.paid, order.fulfilled, order.refunded, order.disputed).",
            "examples": [
              "order.paid"
            ]
          },
          "account_id": {
            "type": "string",
            "title": "Account Id",
            "description": "Account that owns this event.",
            "examples": [
              "acc_7kQ2xY9mN3pR5tW1vB8a"
            ]
          },
          "listing_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Listing Id",
            "description": "Related listing ID, if applicable.",
            "examples": [
              "lst_7kQ2xY9mN3pR5tW1vB8a"
            ]
          },
          "order_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Order Id",
            "description": "Related order ID, if applicable.",
            "examples": [
              "ord_9xM4kP7nR2qT5wY1"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "When the event was recorded (UTC).",
            "examples": [
              "2026-04-02T14:30:00Z"
            ]
          },
          "data": {
            "additionalProperties": true,
            "type": "object",
            "title": "Data",
            "description": "Event payload \u2014 same shape delivered to agent_callback_url.",
            "examples": [
              {
                "object": "event",
                "type": "order.paid"
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "id",
          "type",
          "account_id",
          "created_at",
          "data"
        ],
        "title": "EventResponse",
        "description": "A persisted domain event \u2014 same shape delivered to agent_callback_url."
      },
      "FaqItemInput": {
        "properties": {
          "q": {
            "type": "string",
            "maxLength": 200,
            "title": "Q",
            "description": "Question text",
            "examples": [
              "Is this for beginners?"
            ]
          },
          "a": {
            "type": "string",
            "maxLength": 1000,
            "title": "A",
            "description": "Answer text",
            "examples": [
              "Yes, completely beginner-friendly."
            ]
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "q",
          "a"
        ],
        "title": "FaqItemInput"
      },
      "FulfillOrderRequest": {
        "properties": {
          "deliverable": {
            "$ref": "#/components/schemas/DeliverableInputRequest",
            "description": "Generated content to deliver to the buyer. Type must be url (redirect link) or text (literal string). ListBee emails the buyer a permanent unlock link and transitions the order to FULFILLED."
          },
          "metadata": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Metadata",
            "description": "Arbitrary key-value pairs to attach to this order. Stripe-aligned limits: max 50 keys, keys \u2264 40 chars, values must be strings \u2264 500 chars.",
            "examples": [
              {
                "generated_by": "my-agent",
                "version": "1"
              }
            ]
          }
        },
        "type": "object",
        "required": [
          "deliverable"
        ],
        "title": "FulfillOrderRequest",
        "description": "Push generated content to a generated-type order.\nEmails the buyer a permanent unlock link and transitions the order to fulfilled."
      },
      "FulfillmentMode": {
        "type": "string",
        "enum": [
          "static",
          "async"
        ],
        "title": "FulfillmentMode"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ListingBase": {
        "properties": {
          "object": {
            "type": "string",
            "const": "listing",
            "title": "Object",
            "description": "Object type discriminator. Always `listing`.",
            "default": "listing",
            "examples": [
              "listing"
            ]
          },
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Unique listing ID (lst_ prefixed). Use this for all API operations.",
            "examples": [
              "lst_7kQ2xY9mN3pR5tW1vB8a"
            ]
          },
          "url": {
            "type": "string",
            "title": "Url",
            "description": "Shareable product page URL in the form `/{id}/{slug}` on buy.listbee.so. The slug is derived from the listing name at serialization time and is not persisted \u2014 the ID is the routing key. Share this URL with buyers.",
            "examples": [
              "https://buy.listbee.so/lst_7kQ2xY9mN3pR5tW1vB8a/seo-playbook-2026"
            ]
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "Product name shown on the product page.",
            "examples": [
              "SEO Playbook 2026"
            ]
          },
          "price": {
            "type": "integer",
            "title": "Price",
            "description": "Price in cents (smallest currency unit). $29 = 2900.",
            "examples": [
              2900
            ]
          },
          "currency": {
            "type": "string",
            "title": "Currency",
            "description": "Three-letter ISO 4217 currency code (lowercase).",
            "examples": [
              "usd"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/ListingStatus",
            "description": "Listing lifecycle status: `draft`, `published`, or `archived`. Only published listings have a live checkout URL.",
            "examples": [
              "published"
            ]
          },
          "fulfillment_mode": {
            "$ref": "#/components/schemas/FulfillmentMode",
            "description": "Computed from deliverable presence. `MANAGED` when a deliverable is attached (ListBee delivers automatically). `ASYNC` when no deliverable \u2014 your agent handles delivery via POST /v1/orders/{order_id}/fulfill or webhook.",
            "examples": [
              "MANAGED"
            ]
          },
          "image_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Image Url",
[...]
